extends layout

block content
  div(class="container")
    h1 Running with Bernie
      div(id="app")
    if (!user)
      a(href="/login") Login 
      a(href="/register") Register
    if (user)
      ul(id="actions")
      p #{user.username} | #{user.zipcode}
      a(href="/logout") Logout
      script.
        var socket = io();
        socket.on('new user', function(msg){
          $('#actions').append($('<li>').text(msg));
        });